<div class="container p-4">
  <div class="row">
    <div class="col md-6">
      <div class="card cardbody">
        <form action="" class="m-5" (submit)="submitLocation(cityName,countryCode)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="City Name" #cityName>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Country Code" #countryCode>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block mt-2">Get Weather</button>
          </div>
          
        </form>
      </div>
    </div>
    <div class="col md-6">
      <div *ngIf="weather" class="card card-body">
        <p>Temperature: {{weather.main.temp}} ºC</p>
        <p>Humidity: {{weather.main.humidity}} %</p>
        <p>Wind: {{weather.wind.speed}}</p>
        <p>Latitud: {{weather.coord.lat}}</p>
        <p>Longitude: {{weather.coord.lon}}</p>
        <p>Pressure: {{weather.main.pressure}}</p>
        <p>Description: {{weather.weather[0].description}}</p>
      </div>
      
    </div>
  </div>
</div>